{
  "env": {
		"commonjs": true,
		"es6": true,
		"mocha": true,
		"node": true
  },
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 2017
	},
  "rules": {
		"linebreak-style": [
			"error",
			"unix"
		],
		"quotes": [
			"error",
			"single"
		],
		"semi": [
			"error",
			"always"
		]
  }
}